version: '1.0.{build}'
image: Visual Studio 2015
branches:
  only:
  - master
environment:
  Qt: "5.10.0"
  CMake: "3.10.1"
init:
  # Good practise, because Windows line endings are different from Unix/Linux ones
  - cmd: git config --global core.autocrlf true
  - cmd: cmake --version
install:
  # Install repo specific stuff here
  #- ps: Install-Product node $env:nodejs_version
  #- npm install -g npm
  #- npm install
before_build:
  - cmd: SET "PATH=C:\Qt\5.10.0\msvc2015;%PATH%"
  - CMD: echo %PATH%
  - cmd: >- 
      & cd ..
      & mkdir build
      & cd build
      & cmake -G "Visual Studio 14 2015" ../QTFeedbackApp
  
build_script:
  - cmd: >-
      & cmake --build . --target install
after_build:
  # For once the build has completed

clone_depth: 1

on_finish :
  # any cleanup in here
deploy: off
