version: '1.0.{build}'
image: Visual Studio 2015
branches:
  only:
  - master
environment:
  Qt: "5.10.0"
  CMake: "3.10.1"
init:
  # Good practise, because Windows line endings are different from Unix/Linux ones
  - cmd: git config --global core.autocrlf true
install:
  # Install repo specific stuff here
  #- ps: Install-Product node $env:nodejs_version
  #- npm install -g npm
  #- npm install
before_build:
  - cmd: cd ..
  - cmd: mkdir build
  - cmd: cd build
  - cmd: cmake -G "Visual Studio 14 2015" ../FeedbackApp
  - cmd: cmake --build . --target install
build_script:
  - cmd: 
  # output will be in ./src/bin/debug/netcoreapp1.1/publish
  - cmd: dotnet publish -c Release -o ../out ./src/BookTracker.Web/BookTracker.Web.csproj
after_build:
  # For once the build has completed

clone_depth: 1

on_finish :
  # any cleanup in here
deploy: off